body{
    background-color: rgb(154, 140, 244);
    color:black
}
h1{
    text-align: center;
}
form {
    width: 200px;
    margin:0 auto;
    border: 2px solid black;
    padding: 25px;
    background: rgb(118, 53, 179);
}  
/* label{
font width:600;
} */
 input[type=text],
 input[type=email],
 input[type=password],
 input[type=contact-number],
 textarea {
    padding: 3px;
 }
 textarea {
    width: 90%;
    resize:vertical
 }
 button{
    color: aliceblue;
    background-color: blue;
    border:none;
    border-radius: 10px;
    width:100%;
    padding:10px;
    cursor:pointer
 }
